---

// <!-- [slug].astro       → single note page (HAS slug) -->
//  <!-- detail page (params required) -->
import { client, urlFor } from '../../lib/sanity'
import { toHTML } from '@portabletext/to-html'

const { slug } = Astro.params

// without this getStaticPaths function,, slug will always be ??? when running at build time!! astro gets all the paths to the file
// and then inserts them below in the return using the parameters key and assigning it to note.slug!!!! which each note has when
// created :D
export async function getStaticPaths() {
  const notes = await client.fetch(`
    *[_type == "note"]{
      "slug": slug.current
    }
  `)
    return notes.map((note) => ({
    params: { slug: note.slug },
  }))
}

// You can update/delete by first looking up the slug, but since you've already fetched the note, it's 
// easier to grab _id at the same time and pass it to your API route
const note = await client.fetch(`
  *[_type == "note" && slug.current == $slug][0]{
    _id,
    title,
    "slug": slug.current,
    content,
    image,
    tags
  }
`, { slug })
---

<main class="note">
  <h1>{note.title}</h1>

  {note.tags && (
    <div class="tags">
      {note.tags.map(tag => <span>#{tag}</span>)}
    </div>
  )}
    <article set:html={toHTML(note.content)} />
  {note.image && (
    <img class="cover" src={urlFor(note.image).url()} />
  )}
  <a href={`/edit/${note.slug}`}>
  Edit
</a>

<form method="POST" action="/api/delete-note">
  <input
    type="hidden"
    name="id"
    value={note._id}
  />

  <button>
    Delete
  </button>
</form>
</main>